*, *:before, *:after {
  -moz-box-sizing   : border-box;
  -webkit-box-sizing: border-box;
  box-sizing        : border-box;
}

html {
    font-size  : 13px;
    font-family: arial, sans-serif;
}

body {
    margin: 0;
}

.floatable {
    zIndex       : 10;
    position     : fixed;
    top          : 0px;
    left         : 0px;
    margin       : 0;
    padding      : 4px 10px;
    background   : #fff4d2;
    border       : 1px solid #aaa;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infoBoxMenu {
    margin: 1em;
    padding: 0;
    list-style: none;
    outline: none;
}

.infoBoxMenuItem {
    display: inline;
    padding: 2px 1em;
    border: 1px solid lightgray;
    margin-left: -1px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.infoBoxMenuHighlight, .infoBoxMenuSubmenuHighlight {
    background-color: lightgray;
}

.infoBoxMenuSubmenu {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1px;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 5;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.infoBoxMenuSubmenuItem {
    white-space: nowrap;
    padding: 2px 5px;
    border: 1px solid lightgray;
    margin-bottom: -1px;
    overflow: hidden;
    color: black;
}

.clearFix:before,
.clearFix:after {
  content: ' ';
  display: table;
}

.clearFix:after {
  clear: both;
}

.form-section {
    border: none;
}

.form-element {
    position: relative;
}

.form-element label {
    display: inline-block;
    width: 12em;
}
