.infoBoxMenu {
    margin: 1em;
    padding: 0;
    list-style: none;
    outline: none;
}

.infoBoxMenuItem {
    display: inline;
    padding: 2px 1em;
    border: 1px solid lightgray;
    margin-left: -1px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.infoBoxMenuHighlight, .infoBoxMenuSubmenuHighlight {
    background-color: lightgray;
}

.infoBoxMenuSubmenu {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 1px;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 5;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.infoBoxMenuSubmenuItem {
    white-space: nowrap;
    padding: 2px 5px;
    border: 1px solid lightgray;
    margin-bottom: -1px;
    overflow: hidden;
    color: black;
}
